.navbar {
  display: flex;
  justify-content: space-between;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(99, 12, 110, 1) 30%,
    rgba(2, 154, 185, 1) 100%
  );
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0px;
}

.logo {
  width: 50px;
  height: 50px;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0px 20px;
}

.item {
  margin-right: 1em;
  color: white;
}

.link {
  text-decoration: none;
  color: white;
}
